.page1 {
  display: flex;
  align-items: center;
  height: 800px;
}
img {
  border-radius: 4px;
  box-shadow: 10px 10px;
}
.transi1 {
  animation: myAnim 2s ease 0s 1 normal forwards;
  border-radius: 4px;
  box-shadow: 10px 10px;
}

.expertise {
  padding-top: 45px;
}

.page2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 400px;
  height: 950px;
}

.titre1 {
  padding-bottom: 50px;
  text-decoration: underline;
}

@keyframes myAnim {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

@media screen and (min-width: 320px) {
  .titre1 {
    padding-top: 50rem !important;
  }
  .titre2 {
    padding-top: 50rem !important;
  }
  .page2 {
    display: flex;
    justify-content: center;
    padding: 120px;
    width: auto;
  }
}


@media screen and (min-width: 820px) {
  .titre1 {
    padding-top: 2rem !important;
  }
  .titre2 {
    padding-top: 2rem !important;
  }
  .card {
    display: flex;
    flex-wrap: wrap;
  }
}

