.page1 {
  display: flex;
  align-items: center;
  height: 800px;
}
img {
  border-radius: 4px;
  box-shadow: 3px 3px 2px grey;
}
.transi1 {
  animation: myAnim 2s ease 0s 1 normal forwards;
  border-radius: 4px;
  box-shadow: 3px 3px 3px;
}



@keyframes myAnim {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

